* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FAF3F3;
}

.container {
    margin-top: 60px;
    background-color: #FAF3F3;
    text-align: justify;
    padding-bottom: 50px;
}

.titulo {
    text-align: center;
    padding: 50px 0 0 0;
    margin-bottom: 40px;
}

.titulo h1 {
    font-family: "Arial Black";
    font-weight: bolder;
    font-size: 40px;
    color: #000;
    margin-top: 50px;
}

.login-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group-full {
    width: 100%;
    margin-bottom: 25px;
}

.login-form input {
    padding: 10px;
    border: 2px solid #9A9A9A;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    width: 100%;
}

.login-form input:focus {
    outline: none;
    border-color: #999;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button1 {
    background-color: #198754;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    min-width: 350px;
}

.button1:hover {
    background-color: #157347;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin: 30px 0;
    max-width: 300px;

}

.button2 {
    background-color: #DDDDDD;
    color: black;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    min-width: 350px;
}

.button2:hover {
    background-color: #999;
}

#data{
    color: #848596;
}

/* Responsividade */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        gap: 0;
    }

    .form-group {
        margin-bottom: 25px;
    }

    .button1, .button2 {
        width: 100%;
        max-width: 300px;
    }
}