* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 60px;
    background-color: #FAF3F3;
    text-align: justify;
    padding-bottom: 50px;
}
.titulo{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 80px;
}
.titulo h1{
    font-family: "Arial Black";
    font-weight: bolder;
    font-size: 40px;
    color: #000;
    margin-top: 50px;
}


.login-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.login-form input {
    padding: 10px;
    margin-bottom: 25px;
    border: 2px solid #9A9A9A;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-form input:focus {
    outline: none;
    border-color: #999;
}

.button1 {
    background-color: #198754;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button1:hover {
    background-color: #157347;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin: 30px 0;
}

.button2 {
    background-color: #DDDDDD;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button2:hover {
    background-color: #cccccc;
}

