<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>HardMarket - Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/cadastro/estiloCadastro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo/header/header.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="/">HardMarket</a>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="/favoritos">Favoritos</a></li>
            <li><a href="/vender" class="btn-vender">Vender</a></li>
        </ul>
    </nav>
    <div class="menu-pesquisa">
        <p></p>
    </div>
    <nav class="menu-icons">
        <ul>
            <li><p></p></li>
            <li><p></p></li>
            <li><p></p></li>
            <li><p></p></li>
            <li><p></p></li>
        </ul>
    </nav>
</header>
<script src="{{ url_for('static', filename='estilo/header/scriptHeader.js') }}"></script>

<section class="container">
    <div>
        <div class="titulo">
            <h1>Crie sua conta pessoal</h1>
        </div>
        <div class="login">
            <form action="/cadastrarUsuario" method="POST">
                <div class="login-form">
                    <div class="form-group-full">
                        <input type="text" name="nome" id="nome" placeholder="Seu nome">
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <input type="date" name="data_nascimento" id="data" placeholder="Data de nascimento" maxlength="15">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="telefone" id="celular" placeholder="Celular">
                        </div>
                    </div>
                    <div class="form-group-full">
                        <input type="text" name="cpf" id="cpf" placeholder="CPF" maxlength="14">
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <input type="text" name="rua" id="rua" placeholder="Rua">
                        </div>
                        <div class="form-group">
                            <input type="text" name="bairro" id="bairro" placeholder="Bairro">
                        </div>
                        <div class="form-group">
                            <input type="number" name="numero" id="numero" placeholder="Número">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <input type="text" name="cidade" id="cidade" placeholder="Cidade">
                        </div>
                        <div class="form-group">
                            <input type="text" name="estado" id="estado" placeholder="Estado" maxlength="2">
                        </div>
                        <div class="form-group">
                            <input type="text" name="cep" id="cep" placeholder="Cep" maxlength="9">
                        </div>
                    </div>
                    <div class="form-group-full">
                        <input type="email" name="email" id="email" placeholder="Seu e-mail">
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <input type="password" name="senha" id="senha" placeholder="Sua senha">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirmarSenha" id="confirmarSenha"
                                   placeholder="Digite novamente a senha">
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button1" type="submit" >CRIAR CONTA</button>
                        <hr>
                        <button class="button2" type="button" onclick="location.href='/login'">LOGIN</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center  card-qrcode-text">
                <div class="card card-qrcode">
                    <a href="https://wa.me/5518998196826?text=Ol%C3%A1%2C%20tenho%20duvidas%20sobre%20o%20site%20HardMarket%2C%20voc%C3%AA%20pode%20me%20ajudar%3F"
                       target="_blank"><img src="{{ url_for('static', filename='img/qrcode.png') }}" class="img-qrcode" alt="Qrcode"></a>
                </div>
                <div>
                    <p class="text-qrcode">Conectando você às melhores peças de hardware com segurança e confiança</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center ">
                <div class="card card-footer">
                    <div class="titulo-contado">
                        <h3>CONTATO</h3>
                        <hr class="hr-titulo">
                    </div>
                    <form action="#" method="post" class="form-contato">
                        <div class="nome-telefone-footer ">
                            <input type="text" name="nome" placeholder="Nome" required>
                            <input type="tel" name="telefone" placeholder="Telefone" required>
                        </div>
                        <div class="email-footer ">
                            <input type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="mensagem-footer ">
                            <textarea name="mensagem" placeholder="Mensagem" rows="5" required></textarea>
                        </div>
                        <button type="submit">Fale Conosco</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footerp2">
        <div class="logo-redesSociais">
            <h2 class="titulo-footer">HardMarket</h2>
            <ul class="redesSociais">
                <li>
                    <img src="{{ url_for('static', filename='img/redesSociais/facebook.png') }}" alt="facebook">
                </li>
                <li>
                    <img  src="{{ url_for('static', filename='img/redesSociais/instagram.png') }}" alt="instagram">
                </li>
                <li>
                    <img  src="{{ url_for('static', filename='img/redesSociais/whatsapp.png') }}" alt="whatsapp">
                </li>
            </ul>
        </div>
        <div>
            <div class="ofertas-input">
                <label>Receba ofertas exclusivas:</label>
                <input type="text" name="text" placeholder="" required>
                <button type="submit" class="botaoIncrever">Inscrever-se</button>
            </div>
        </div>
        <div class="sobre-nos">
            <a href="/sobre" class="botao-sobreNosA"><h3 class="botao-sobreNos">Ver sobre nós</h3></a>
        </div>
        <div class="todos-direitos">
            <div>
                <p>HardMarket | CNPJ: 00.000.000/0001-00 | Penápolis/SP</p>
            </div>
            <div>
                <p>© 2025 HardMarket. Todos os direitos reservados.</p>
                <p>Desenvolvido por Luan Alves</p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='estilo/cadastro/jsNmrTelCepCpf.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>